name: Engine CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Install deps
        run: sudo apt-get update && sudo apt-get install -y cmake build-essential

      - name: Configure
        run: cmake -S . -B build

      - name: Build
        run: cmake --build build --verbose


